<h2> Invent Guac Recipe </h2>
<%= form_for [@recipe] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :Details %>
<%= f.text_field :detail %>
<%= f.label :img%>
<%= f.text_field :img_url %>
<%= f.submit "Create" %>
<% end %>
