
<h2> Recipe: <%= link_to "(Edit)" , edit_recipe_path(@recipe) %><%= link_to "(Delete)" , edit_recipe_path(@recipe) %></h2>
<h2><%= @recipe.name %></h2>
<h3><%= @recipe.detail %></h3>

<img src="<%= @recipe.img_url %>"/>

<h3>Ingredients: <%= link_to "(Add)" , new_recipe_ingredient_path(@recipe) %></h3>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.detail %> <%= link_to "(edit)", edit_recipe_ingredient_path(@recipe, ingredient)%> <%= link_to "(delete)", edit_recipe_ingredient_path(@recipe,ingredient)%>
        </li>
      <%end%>
    </ul>
